@model Product;
@{
    ViewData["Title"] = "Detail";
}

<h1>Details</h1>

<h3>@Model.name</h3>

Product ID: @Model.id <br/>
Price: $@Model.price <br/>
Decription: @Model.description <br/>
Category: @Model.category <br/>
